@import "layout";

header {
  background-image: url(/images/header_candy_1200.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
  height: 80%;
  @media (max-width: 500px) and (min-width: 320px) {
    background-image: url(/images/logo.png);
    background-size: 100px 100px;
  }
}

.navbar {
  margin-top: auto;
  min-height: 100px;
  height: 100%;
  max-width: 1400px;
  width: 100%;
}

.navbar-brand {
  font-family: $heading-font;
  font-size: 20px;
}

.nav-item {
  font-family: $main-font;
}

.navbar-toggler {
  background-color: $mintCream;
}
