@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

$mimiPink: #f7d6e0;
$lavenderPink: #f2b5d4;
$mintCream: #eff7f6;
$celeste: #b2f7ef;
$nonPhotoBlue: #7bdff2;
$white: #fff;

$heading-font: "Bungee Inline", sans-serif;
$main-font: "Oswald", sans-serif;
$text-font: "Roboto Condensed", sans-serif;

.bg-mimiPink {
  background-color: $mimiPink !important;
}

.text-lavenderPink {
  color: $lavenderPink !important;
}

.bg-lavenderPink {
  background-color: $lavenderPink !important;
}

.bg-mintCream {
  background-color: $mintCream !important;
}

.bg-celeste {
  background-color: $celeste !important;
}

.bg-nonPhotoBlue {
  background-color: $nonPhotoBlue !important;
}

// Button effect

.hover-shadow:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}
